<!DOCTYPE html>
<html>
<head>
    <title>First Vue App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</head>
<body>
    <div id="app">
        <div v-if="isLoggedIn === false">
            <label>User Name</label>
            <input type="text" v-model="userLogin.userName"/>
            <br>
            <label>Password</label>
            <input type="text" v-model="userLogin.password"/>
            <br>
            <p style="color: red;" v-if="loginErrorMessage !== null">
                {{loginErrorMessage}}
            </p>
            <button v-on:click="login()">Login</button>
        </div>
        <div v-if="isLoggedIn === true">
            <h3>
                {{loginSuccessMessage}} 
            </h3>
        </div>
    </div>
</body>
</html>